{%- assign selected_variant = product.selected_or_first_available_variant -%}

<div class="card {% if product.media.size > 0 %}card--collapsed{% endif %} {% if template.name == 'product' %}card--sticky{% endif %}">
  {%- if section.settings.enable_image_zoom -%}
    <div id="product-zoom-{{ section.id }}" class="product__zoom-wrapper"></div>
  {%- endif -%}

  <div class="card__section">
    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT META
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- if section.settings.show_share_buttons -%}
      {%- capture share_buttons -%}
        {%- assign share_url = shop.url | append: product.url -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

        <ul class="social-media__item-list list--unstyled">
          <li class="social-media__item social-media__item--facebook">
            <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
          </li>

          <li class="social-media__item social-media__item--pinterest">
            <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
          </li>

          <li class="social-media__item social-media__item--twitter">
            <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
          </li>

          <li class="social-media__item">
            <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
          </li>
        </ul>
      {%- endcapture -%}
    {%- endif -%}

    
    <div class="product-meta">
        <!-- Vendidos - altere o modulo para alterar os números -->

        {% assign day = 'now' | date: "%d" | plus: 0 %}
        {% assign month = 'now' | date: "%m" | plus: 0 %}
        {% assign year = 'now' | date: "%Y" | plus: 0 %}

        {% assign date_factor = year | times: 10000 | plus: month | times: 100 | plus: day %}
        {% assign random = product.id | plus: date_factor | modulo: 100 %}
        {%- if section.settings.mostrar_quantidadevendidos -%}
      <span class="quantitysell" style="font-size: 14px;color: #b7b7b7;">Nuovo | <!--INICIO VENDIDOS-->{{ random }} Venduti<!--FIM VENDIDOS--></span>
      
          {%- endif -%}
    
      {%- if template.name == 'product' and template != 'product.quick-view' -%}
      <h1 class="product-meta__title heading h1">{{ product.title }}</h1>
      {%- else -%}
        <h3 class="product-meta__title heading h2">
          <a href="{{ product.url }}">{{ product.title }}</a>
        </h3>
      {%- endif -%}
      
          {%- if section.settings.mostrar_codigodoitem -%}
            
            <div style="margin-top: 8px;font-size:13px;color: #b7b7b7;">
              <span class="product-meta__sku-number">(Cod. {{ product.id | divided_by: 220022 }})</span>
              <span class="quantitysell" style="color: #3A2A2F;"> | </span>
              <span class="quantitysell" style="color: #0086ff;"> Disponibile in stock</span>
            </div>
      
          {%- endif -%}
              
      <div style="margin-bottom: -14px;">
      <!-- Start Areviews Collection Rating Code -->
      {%- if template.name == 'product' and template != 'product.quick-view' -%} 
      <div class='areviews_header_stars'></div> 
      {% else %}
      <div class='areviews_product_item areviews_stars{{ product.id }}'  data-product-id='{{ product.id }}'></div>
      {% endif %}
      <!-- End Areviews Collection Rating Code -->
      </div>

      <!-- RYVIU APP :: WIDGET-TOTAL -->
      <div class="review-widget" style="margin: 4px 0 -10px 0">
      <ryviu-widget-total reviews_data="{{product.metafields.ryviu.product_reviews_info  | escape  }}" product_id="{{product.id}}" handle="{{product.handle}}"></ryviu-widget-total>
      </div>
      <!-- / RYVIU APP -->

      {%- capture product_labels -%}
        {%- for tag in product.tags -%}
          {%- if tag contains '__label:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label1:' -%}
            <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
          {%- endif -%}

          {%- if tag contains '__label2:' -%}
            <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if settings.show_discount -%}
          {%- assign savings = 0 -%}

          {%- if settings.discount_mode == 'percentage' -%}
            {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
          {%- else -%}
            {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money_without_trailing_zeros }}</span>{%- endcapture -%}
          {%- endif -%}

          <span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span>
        {%- endif -%}
      {%- endcapture -%}


      {%- if section.settings.show_vendor or section.settings.show_sku -%}
        <div class="product-meta__reference">
          {%- if section.settings.show_vendor -%}
            {%- assign vendor_handle = product.vendor | handle -%}
            {%- assign collection_for_vendor = collections[vendor_handle] -%}

            {%- unless collection_for_vendor.empty? -%}
            {%- else -%}

      {%- if section.settings.blackfriday -%}
          
           
      {%- endif -%}
          
            {%- endunless -%}
            {%- endif -%}
          
          {%- if section.settings.show_sku -%}
         
          <!--{% if selected_variant.barcode != blank %}
            <span style="font-style: italic" class="product-meta__sku">
              (Cód. Item <span class="product-meta__sku-number">{{ selected_variant.barcode }})</span>
            </span>
          {% endif %}-->
                              
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if section.settings.show_reviews_badge -%}
        <a href="{% if template.name != 'product' or template == 'product.quick-view' %}{{ product.url | within: collection }}{% endif %}#product-reviews" class="product-meta__reviews-badge link" data-offset="30">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}">
            {%- comment -%}Display a placeholder, to allocate space{%- endcomment -%}
            <div class="spr-badge" style="opacity: 0">
              <span class="spr-starrating spr-badge-starrating">
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
                <i class="spr-icon spr-icon-star-empty"></i>
              </span>

              <span class="spr-badge-caption">filler</span>
            </div>
          </span>
        </a>
      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="product-meta__share-buttons hidden-phone">
          {{ share_buttons }}
        </div>
      {%- endif -%}
    </div>

    <hr class="card__separator">

    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart == false -%}
      <div class="product-meta__description rte">
        {{ product.description | remove: 'data-section-type="product"' }}
      </div>
    {%- endif -%}

    {% comment %}
    ------------------------------------------------------------------------------
    PRODUCT FORM
    ------------------------------------------------------------------------------
    {% endcomment %}

    {%- assign color_label = 'color,colour,couleur,cor,cores,colore,farbe,색,色,カラー,färg,farve,opção,quantidade,dias,uso,dias de tratamento' | split: ',' -%}

    {%- form 'product', product, class: 'product-form' -%}
      {%- unless product.has_only_default_variant -%}
        <div class="product-form__variants">
          {%- for option in product.options_with_values -%}
            {%- assign downcase_option = option.name | downcase -%}
            {%- capture option_name -%}{{ section.id }}-{{ product.id }}-{{ forloop.index }}{%- endcapture -%}

            {%- assign option_selector_type = 'select' -%}

            {%- if section.settings.color_mode != 'block' and section.settings.color_mode != 'dropdown' and color_label contains downcase_option -%}
              {%- comment -%}NOTE: even if the merchant is using the mode to display variant images, if ALL variant do not have an associated image, we fallback to color{%- endcomment -%}

              {%- assign has_image_attached_to_all_variants = true -%}

              {%- for variant in product.variants -%}
                {%- unless variant.image -%}
                  {%- assign has_image_attached_to_all_variants = false -%}
                  {%- break -%}
                {%- endunless -%}
              {%- endfor -%}

              {%- if section.settings.color_mode == 'color' or has_image_attached_to_all_variants == false -%}
                {%- assign option_selector_type = 'color' -%}
              {%- else -%}
                {%- assign option_selector_type = 'variant' -%}
              {%- endif -%}
            {%- else -%}
              {%- if color_label contains downcase_option -%}
                {%- if section.settings.color_mode == 'block' -%}
                  {%- assign option_selector_type = 'block' -%}
                {%- endif -%}
              {%- elsif section.settings.selector_mode == 'block' -%}
                {%- assign option_selector_type = 'block' -%}
              {%- endif -%}
            {%- endif -%}

            <div class="product-form__option" data-selector-type="{{ option_selector_type }}">
              {%- case option_selector_type -%}
                {%- when 'color' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="color-swatch-list color-swatch-list--large">
                    {%- for value in option.values -%}
                      {%- assign downcased_value = value | downcase -%}
                      {%- capture color_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- assign color_swatch_name = value | handle | append: '.png' -%}
                      {%- assign color_swatch_image = images[color_swatch_name] -%}

                      <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                        <input class="color-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ color_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true">
                        <label class="color-swatch__item lazyload" for="{{ color_id }}" {% if color_swatch_image != blank %}data-bg="{{ color_swatch_image | img_url: '64x64' }}"{% else %}style="background-color: {{ value | replace: ' ', '' | downcase }}"{% endif %} title="{{ value | escape }}">{% render 'icon', icon: 'cross-sold-out' %}</label>
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'variant' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="variant-swatch-list">
                    {%- capture option_name -%}option{{ option.position }}{%- endcapture -%}

                    {%- for value in option.values -%}
                      {%- capture variant_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_name] == value and variant.image -%}
                          <div class="variant-swatch">
                            <input class="variant-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ variant_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}">

                            <label class="variant-swatch__item" for="{{ variant_swatch_id }}" title="{{ value | escape }}">
                              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: variant.image.aspect_ratio }}%">
                                <img src="{{ variant.image | img_url: '120x' }}" alt="{{ variant.image.alt | escape }}">
                              </div>

                              {% render 'icon', icon: 'cross-sold-out' %}
                            </label>
                          </div>

                          {%- break -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                {%- when 'block' -%}
                  <span class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></span>

                  <div class="block-swatch-list">
                    {%- for value in option.values -%}
                      {%- capture block_swatch_id -%}{{ option_name }}-{{ forloop.index }}{%- endcapture -%}

                      <div class="block-swatch">
                        <input class="block-swatch__radio product-form__single-selector" type="radio" name="{{ option_name }}" id="{{ block_swatch_id }}" value="{{ value | escape }}" {% if option.selected_value == value %}checked{% endif %} data-option-position="{{ option.position }}" aria-hidden="true"><!--@sabinos799-->
                        <label class="block-swatch__item" for="{{ block_swatch_id }}" title="{{ value | escape }}">
                          <span class="block-swatch__item-text">{{ value }}</span>
                        </label>
                          <!-- Start of Judge.me code -->
                          <div class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}'>
                              {{ product.metafields.judgeme.badge }}
                          </div>
                          <!-- End of Judge.me code -->
                      </div>
                    {%- endfor -%}
                  </div>
                {%- when 'select' -%}
                  <label for="{{ option_name }}" class="product-form__option-name text--strong">{{ option.name }}: <span class="product-form__selected-value">{{ option.selected_value }}</span></label>

                  <div class="select-wrapper select-wrapper--primary">
                    {%- render 'icon', icon: 'arrow-bottom' -%}

                    <select class="product-form__single-selector" name="{{ option_name }}" id="{{ option_name }}" data-option-position="{{ option.position }}">
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if value == option.selected_value %}selected="selected"{% endif %}>{{ value }}</option>
                      {%- endfor -%}
                    </select>
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}

          <div class="no-js product-form__option">
            <label for="product-select-{{ product.id }}">{{ 'product.form.variant' | t }}</label>

            <div class="select-wrapper select-wrapper--primary">
              <select id="product-select-{{ product.id }}" name="id">
                {%- for variant in product.variants -%}
                  <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
        </div>
      {%- else -%}
        <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
      {%- endunless -%}

      <div class="product-form__info-list">
        <div class="product-form__info-item">
          <span class="product-form__info-title text--strong">{{ 'product.form.price' | t }}:</span>

          <div class="product-form__info-content">
            <div class="price-list">
 {%- if selected_variant.compare_at_price > selected_variant.price -%}
              <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>
                  {{- selected_variant.compare_at_price | money_without_trailing_zeros -}}
                </span>  
              <br>
              <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>
                  {{- selected_variant.price | money_without_trailing_zeros -}}
                </span>
				{%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
				<div class="discount__percentage"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down" width="1.3em" height="1.3em" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 15px;margin-right: -3px; margin-left: -3px;">
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <line x1="12" y1="5" x2="12" y2="19"></line>
               <line x1="18" y1="13" x2="12" y2="19"></line>
               <line x1="6" y1="13" x2="12" y2="19"></line>
               </svg>
              		{{ savings }}
              	</div>
              
              {%- else -%}
                <span class="price--highlight">{{ selected_variant.price | money_without_trailing_zeros }}</span>
           {%- endif -%} 

            <!-- Parcelamento @sabinoss79 -->
              
            {% comment %}<p style="font-size:16px;margin-bottom: 16px;top: 8px;position: relative;">Em até 12x de <span><b>{{ product.price |times: 1.2161 | divided_by: 12 | round:2 | money }}</b></span></p>{% endcomment %}

           <!-- Parcelamento - altere o times para alterar os juros-->
              
            {%- if selected_variant.compare_at_price > selected_variant.price -%}
              <div class="product-meta__label-list">
            <span style="margin-top: 2px; margin-bottom: 0px; font-size: 14px;" class="product-label product-label--on-sale">
              {{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }} de desconto
                </span></div>{%- endif -%}
                
           </div>

            <div class="product-form__price-info" style="display: {% if selected_variant.unit_price_measurement %}block{% else %}none{% endif %}">
              <div class="unit-price-measurement">
                <span class="unit-price-measurement__price">{{ selected_variant.unit_price | money_without_trailing_zeros }}</span>
                <span class="unit-price-measurement__separator">/ </span>

                {%- if selected_variant.unit_price_measurement.reference_value != 1 -%}
                  <span class="unit-price-measurement__reference-value">{{ selected_variant.unit_price_measurement.reference_value }}</span>
                {%- endif -%}

                <span class="unit-price-measurement__reference-unit">{{ selected_variant.unit_price_measurement.reference_unit }}</span>
              </div>
            </div>

            {%- if section.settings.show_taxes_included -%}
              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <p class="product-form__price-info">
                  {%- if shop.taxes_included -%}
                    {{ 'product.general.include_taxes' | t }}
                  {%- endif -%}

                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'product.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        {%- if section.settings.show_inventory_quantity and product.template_suffix != 'pre-order' -%}
          <div class="product-form__info-item">
            <span class="product-form__info-title text--strong">{{ 'product.form.inventory' | t }}:</span>

            <div class="product-form__info-content">
              {%- if selected_variant.available -%}
                {%- if selected_variant.inventory_management and selected_variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                  {%- if selected_variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                    <span class="product-form__inventory inventory inventory--low">{{ 'product.form.low_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock_with_quantity_count' | t: count: selected_variant.inventory_quantity }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if selected_variant.inventory_policy == 'continue' and selected_variant.inventory_quantity <= 0 -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.oversell_stock' | t }}</span>
                  {%- else -%}
                    <span class="product-form__inventory inventory inventory--high">{{ 'product.form.in_stock' | t }}</span>
                  {%- endif -%}
                {%- endif -%}
              {%- else -%}
                <span class="product-form__inventory inventory">{{ 'product.form.sold_out' | t }}</span>
              {%- endif -%}

              {%- for tag in product.tags -%}
                {%- if tag contains '__stock:' -%}
                  {%- assign stock_countdown_max = tag | split: '__stock:' | last | times: 1.0 -%}
                  {%- assign stock_countdown_progress = selected_variant.inventory_quantity | divided_by: stock_countdown_max | times: 100.0 | at_least: 0 | at_most: 100 -%}

                  <span class="inventory-bar {% if stock_countdown_progress == 0 %}inventory-bar--hidden{% endif %}" data-stock-countdown-max="{{ stock_countdown_max }}">
                    <span class="inventory-bar__progress" style="width: 100%"></span>
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

        {%- if product.template_suffix != 'contact' -%}
          {%- if section.settings.show_quantity_selector -%}
             <div class="product-form__info-item product-form__info-item--quantity">
              <label for="{{ section.id }}-{{ product.id }}-quantity" class="product-form__info-title text--strong">{{ 'product.form.quantity' | t }}:</label>

              <div class="product-form__info-content">                               
                <div id='myform2' class="qty-align" method='POST' action='#'>
                  <input type='button' value='-' class='qtyminus' field='quantity' />
                  <input type='text' name='quantity' value='1' class='qty' />
                  <input type='button' value='+' class='qtyplus' field='quantity' />
                </div>
                
              </div>
            </div>
          {%- else -%}
            <input type="hidden" name="quantity" value="1">
          {%- endif -%}
        {%- endif -%}
      
      </div>
        <!--INICIO DO FRETE OPÇÃO 01-->
      
<div class="fretefundo">
 
        <!--CORREIOS-->
   
        <img style="margin: -12px 5px -10px -8px" src="//cdn.shopify.com/s/files/1/0897/5004/4975/files/poste-italiane.svg?v=1724705833">

        {% assign free_shipping_threshold = 10 %}
        {% assign preco_produto = product.price | divided_by: 100 %}

        <script>
            console.log('Preço do produto: {{ product.price | money }}');
        </script><!-- Defina o valor mínimo para frete grátis -->
    {% if preco_produto >= free_shipping_threshold %}
        <p class="ttl-frete">{{ section.settings.titulofrete }}
            <span class="ip-frete" id="custom-address">Caricamento delle informazioni...</span></p>
        <p class="txt-frete">Spedizione Gratuita</p>
    {% else %}
        <p>Aggiungi altri {{ free_shipping_threshold | minus: preco_produto | money }} al tuo carrello per ottenere la spedizione gratuita!</p>
    {% endif %}


        <!--CORREIOS-->

      <script>    
        $.getJSON( "https://wtfismyip.com/json", function(localizacao) {
          var localizacao = localizacao['YourFuckingCity'];
          var regiao = localizacao.replace(", Italy", "");
          $("#custom-address").html("per <b>" + localizacao + " e Regione</b>");      });
      </script>

      <style>
      
      @media (max-width: 640px) {
        .fretefundo > img {
           height: 52px;
        }
        .fretefundo > p > span {
           font-size: 10px;
          color: #36b376;

        }
        .fretefundo {
           margin-top: 14px;
        }
       .txt-frete {
           font-size: 12px;
           font-weight: bold;
           padding: 0;
           margin: 0;
           margin-right: -5px!important;
          color: #36b376;

        }
      }

      .fretefundo {
         display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
   padding: 7px 9px 6px 1px;
    margin: 7px -1px 60px 1px;
      }

      .ttl-frete {
           flex-grow: 1;
           font-size: 14px;
           line-height: 1.6;
           margin-bottom: 3px;
            text-align: -webkit-left;
      }

      @media (min-width: 641px){
      .txt-frete {
           font-size: 12px;
           font-weight: bold;
           padding: 0;
           margin: 0;
          color: #36b376;

      }}

      .ip-frete {
           display: block;
           font-weight: 400;
          color: #36b376;
       font-size: 12px;

      }
      
      </style>
   </div>
   
<div id="badges-product">
    <div class="badge">
        <svg class="badge-icon" width="20" height="16" viewBox="0 0 399.000000 399.000000">
                        <g transform="translate(0.000000,399.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M504 3895 c-64 -33 -64 -31 -64 -468 0 -385 1 -395 21 -421 44 -56 45 -56 461 -56 367 0 384 1 416 20 45 28 68 82 53 130 -6 20 -22 47 -37 61 -25 24 -27 24 -277 29 l-252 5 80 69 c292 250 633 385 1020 403 553 25 1083 -228 1416 -677 487 -656 428 -1564 -139 -2152 -151 -157 -284 -254 -477 -348 -525 -257 -1146 -220 -1635 98 -458 297 -737 777 -766 1321 -4 66 -13 128 -21 143 -26 53 -122 77 -171 42 -47 -33 -55 -67 -48 -202 61 -1091 1021 -1913 2106 -1801 819 84 1495 686 1674 1493 217 975 -364 1960 -1324 2246 -198 58 -311 74 -545 74 -225 0 -310 -11 -495 -60 -266 -72 -543 -218 -745 -394 l-70 -61 -5 218 c-3 138 -9 225 -17 238 -32 57 -102 79 -159 50z"></path>
                            <path d="M1460 2761 c-463 -175 -496 -189 -517 -220 l-23 -34 0 -572 0 -572 23 -34 c21 -32 53 -45 522 -222 412 -154 507 -187 540 -183 22 2 260 86 530 187 463 174 491 186 512 218 l23 35 -2 583 -3 583 -25 24 c-34 33 -999 396 -1050 395 -19 -1 -258 -85 -530 -188z m816 -162 c148 -55 285 -106 304 -113 l34 -13 -44 -16 c-25 -8 -160 -59 -300 -112 -140 -53 -262 -97 -270 -97 -22 -2 -625 225 -610 230 6 2 141 53 298 112 158 60 294 109 303 109 9 1 138 -44 285 -100z m-986 -347 c14 -6 134 -52 268 -102 133 -50 260 -98 282 -106 l40 -16 0 -403 c0 -222 -3 -406 -7 -408 -5 -2 -165 55 -358 128 l-350 131 -3 412 -2 411 52 -18 c29 -10 64 -24 78 -29z m1528 -775 c-24 -16 -693 -264 -700 -260 -5 2 -8 186 -8 408 l0 403 93 36 c50 20 211 80 357 134 l265 99 3 -406 c2 -321 0 -408 -10 -414z"></path>
                        </g>
                    </svg>
        <div class="badge-text">
            <p class="text-badge">
                <span class="highlight-text">Consegna garantita.</span>
                In media 8 giorni per tutta Italia.
            </p>
        </div>
    </div>

<div class="badge">
        <svg class="badge-icon" width="20" height="16" viewBox="0 0 434.000000 434.000000">
                        <g transform="translate(0.000000,434.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                            <path d="M1900 4094 c-853 -115 -1544 -811 -1655 -1667 -127 -984 494 -1898 1456 -2142 214 -54 506 -70 733 -40 856 114 1547 806 1662 1665 7 58 14 175 14 260 0 317 -63 588 -200 862 -292 584 -853 985 -1489 1064 -143 17 -382 17 -521 -2z m570 -278 c557 -109 1012 -472 1235 -986 180 -414 180 -905 1 -1318 -90 -209 -193 -359 -356 -522 -267 -265 -581 -423 -950 -476 -149 -21 -410 -14 -551 15 -617 126 -1107 574 -1283 1171 -50 168 -60 251 -61 465 0 232 14 329 76 520 167 512 563 908 1074 1073 102 34 203 56 340 76 69 10 393 -3 475 -18z"></path>
                            <path d="M2885 2806 c-16 -8 -241 -226 -500 -485 l-470 -471 -216 216 c-231 231 -257 249 -328 233 -21 -5 -49 -22 -68 -43 -28 -30 -33 -43 -33 -85 0 -65 16 -85 322 -387 265 -263 287 -279 359 -255 25 8 184 161 577 554 l542 543 0 49 c0 108 -92 173 -185 131z"></path>
                        </g>
                    </svg>
        <div class="badge-text">
            <p class="text-badge">
                <span class="highlight-text">Acquisto Garantito.</span> Oppure ti rimborsiamo.
            </p>
        </div>
    </div>
      
   </div>
             
    <!--FIM FRETE OPÇÃO 01-->
    
    <div id="loader" class="loader"></div>

  
      <div class="product-form__payment-container">
        {%- if product.template_suffix != 'contact' -%}
          {%- if selected_variant.available -%}
              {%- if section.settings.show_payment_button -%}
                  {{ form | payment_button }}
              {%- endif -%}

            {%- if product.template_suffix == 'pre-order' -%}
              <button type="submit" style="font-size: 19px; margin-top: 10px;" type="submit" name="add" id="AddToCart" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.pre_order' | t }}</button>
            {%- else -%}
              <button type="submit" style="font-size: 19px; margin-top: 10px;" type="submit" name="add" id="AddToCart" class="product-form__add-button button button--primary" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
            {%- endif -%}

            {%- if section.settings.mostrar_addtocart -%}
              <button type="submit" style="font-size: 16px;font-weight: bold; padding:0; line-height: 60px;" class="product-form__add-button button button--primary-add" data-action="add-to-cart">{{ 'product.form.add_to_cart' | t }}</button>
              {%- endif -%}
        
          {%- else -%}
            <button type="submit" class="product-form__add-button button button--disabled" disabled>{{ 'product.form.sold_out' | t }}</button>
          {%- endif -%}

        {%- else -%}
          <a href="mailto:{{ shop.email }}" class="button button--primary">{{ 'product.form.contact_us' | t }}</a>
        {%- endif -%}
      </div>
    {%- endform -%}
    
    <script>
jQuery(window).load(function () {
      $(".loader").fadeOut("slow"); //retire o delay quando for copiar!
    $("#tudo_page").toggle("fast");
});
</script>
    
    {%- if section.settings.mostrar_bandeiras -%}     
     <div class="security__payment" style="margin: -20px 0 0px;">
      <p>{{ 'footer.general.we_accept' | t }}</p>
    </div>
 <div class="payment-list">
     {% comment %}<svg class="payment-list__item" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>{% endcomment %}
{% comment %}{% endcomment %}
     {% comment %}<svg class="payment-list__item2" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg>{% endcomment %}
      {% comment %}{% endcomment %}
      {% comment %}<svg class="payment-list__item2" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>{% endcomment %}

     <div class="cart-recap__secure-payment" style="margin-top: 5px;">
         <div class="cart-recap__secure-payment-list payment-list payment-list--centered">
             {% for type in shop.enabled_payment_types %}
                 {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
             {% endfor %}
         </div>
     </div>

    </div>

    {%- endif -%}
         
    
    {%- if request.page_type == 'index' and section.settings.show_description and product.description != blank and section.settings.description_below_add_to_cart -%}
      <div class="product-meta__description rte">
        {{ product.description }}
      </div>
    {%- endif -%}

    {%- if section.settings.show_share_buttons -%}
      <div class="product-meta__share-buttons hidden-tablet-and-up">
        <span class="text--strong">{{ 'product.general.share' | t }}</span>
        {{ share_buttons }}
      </div>
    {%- endif -%}
  </div>

  {%- if section.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
    <style>
      #shopify-section-{{ section.id }} .shopify-payment-button {
        display: none;
      }
    </style>
  {%- endif -%}

  {% comment %}
  
  ------------------------------------------------------------------------------
  Product Data. This must be outputted for all products (including home page).

  IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
  THE EXACT SAME ATTRIBUTES.
  ------------------------------------------------------------------------------
  {% endcomment %}
  
    <script>
    jQuery(document).ready(function(){
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});

  </script>

  <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }},
      "selected_variant_id": {{ selected_variant.id }}
      {%- if section.settings.show_inventory_quantity -%}
        ,"inventories": {
          {%- for variant in product.variants -%}
            {%- if variant.available -%}
              {%- if variant.inventory_management and variant.inventory_policy == 'deny' and section.settings.low_inventory_threshold > 0 -%}
                {%- if variant.inventory_quantity <= section.settings.low_inventory_threshold -%}
                  {%- capture inventory_message -%}{{ 'product.form.low_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- else -%}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock_with_quantity_count' | t: count: variant.inventory_quantity }}{%- endcapture -%}
                {%- endif -%}
              {%- else -%}
                {%- if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 0 -%}
                  {%- capture inventory_message -%}{{ 'product.form.oversell_stock' | t }}{%- endcapture -%}
                {%- else %}
                  {%- capture inventory_message -%}{{ 'product.form.in_stock' | t }}{%- endcapture -%}
                {%- endif -%}
              {%- endif -%}
            {%- else -%}
              {%- capture inventory_message -%}{{ 'product.form.sold_out' | t }}{%- endcapture -%}
            {%- endif -%}

            "{{ variant.id }}": {
              "inventory_management": {{ variant.inventory_management | json }},
              "inventory_policy": {{ variant.inventory_policy | json }},
              "inventory_quantity": {{ variant.inventory_quantity | json }},
              "inventory_message": {{ inventory_message | json }}
            }{% unless forloop.last %},{% endunless %}
          {%- endfor -%}
        }
      {%- endif -%}
    }
  </script>
</div>